@charset "utf-8";
body {
  background-image: url("nurse.jpg");
}
h1 {
  margin-left: 400px;
}
fieldset {
  background-color: #fdf8e2;
  width: 350px;
  height: 614px;
  margin-left: -600px;
  margin-top: -55px;
}
table {
  color: blue;
  font-size: 20px;
  height: 350px;
}
form {
  padding: 50px;
  width: 500px;
  margin: auto;
}
.error {
  border: 1px solid red;
}
.errorMessage {
  color: red;
  font-size: 14px;
}
div {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 600px;
  top: 100px;
}
.formButton {
  background-color: #008cba;
  color: white;
}
.formButton:hover {
  background-color: #4caf50;
  color: white;
}
.formButton:active {
  background-color: #f44336;
  color: white;
}
