@charset "utf-8";
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-image: url("../images/register.png");
  background-repeat: no-repeat;
  background-size: contain;
}
form {
  border: 1px solid blue;
  width: 500px;
  padding: 20px;
  margin: 20px auto;
}
.error {
  color: red;
  font-size: 30px;
  position: absolute;
  top: 500px;
}
@media only screen and (max-width: 768px) {
  form {
    width: 100%;
  }
  body {
    background-position: 100px 400px;
  }
}
